
{% extends "base.html" %}
{% block content %}


<div class="container">

	<h1 class="well" style = "text-align:center">The Timeline Project</h1>

	<h2> About </h2>
	<p class= "Description">I beleive that music and memories are deeply intertwined. A song or sound has the ability to transport you to another moment in time. I created this project to visualize and document how diffrent people can travel back in time to a nostalgic memory and sound. 
	<h2> Instructions </h2>
	<p> Below, remember an event or time that is connected with a particular song. Search for that song, then fill out a headline, the date (doesn't have to be super accurate), and a brief description. After hitting submit, you can view the crowd-sourced timeline
    <h5 class="well">User Event Form</h5>
	<div class="col-lg-12 well">
	<div class="row">



				<form action={{url_for('search.form_route')}}  method='GET' enctype='multipart/form-data'> 
 					

					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-12 form-group">
								<label>Headline</label>
								<input type="text" placeholder="Enter Description of title" class="form-control" name = "headline">
							</div>
							<div class="col-sm-3 form-group">
								<label>Year </label>
								<input type="text" placeholder="Enter the Year Here" class="form-control" name = "year">
							</div>
							<div class="col-sm-3 form-group">
								<label>Month</label>
								<input type="text" placeholder="Enter the Month Here" class="form-control" name = "month">
							</div>
							<div class="col-sm-3 form-group">
								<label>Day</label>
								<input type="text" placeholder="Enter the Day Here" class="form-control" name = "day">
							</div>
						</div>					
						<div class="form-group">
							<label>Description</label>
							<textarea placeholder="Enter descrition here.." rows="3" class="form-control" name="description" ></textarea>
						</div>	
					
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Song ID</label>
								<input type="text" placeholder="Enter SongID Here.." class="form-control" name = "songid" value = {{url}}>
							</div>		
							<div class="col-sm-4 form-group">
								<label>Song Name</label>
								<input type="text" placeholder="Enter Song Name Here.." class="form-control" name = "songname" value ={{track}}>
							</div>	
							<div class="col-sm-4 form-group">
								<label>Caption</label>
								<input type="text" placeholder="Enter Arist Name Here.." class="form-control" name = "caption" value = {{artist}}>
							</div>	
						</div>						
					
					<input type="submit" class="btn btn-lg btn-info"></button>					
					</div>
				</form> 
				<button type="button"  onclick="location.href='http://localhost:3000/timeline/summary'"  class="btn btn-lg btn-info"> Go To Timeline</button>	
				</div>




        
    </div>

<div class="container" style = "padding-top: 50px">
	
    <h1>Search for an Track on Spotify</h1>
    <p>Type an track name or artist name and click on "Search". The program will automatically fill in the correct info when done. Add more information to the query if you do not find the right one</p>
   <!--
        <input type="text" id="query" value="" class="form-control" placeholder="Type an Track Name"/>
        <button id="search" class="btn btn-primary"  > Search </button>
   
   -->

     <form id="search-form" action = {{url_for('search.song_route')}}>
        <input type="text" id="query" name ='query' value="" class="form-control" />
        <input type="submit" id="search" class="btn btn-lg btn-info" value="Search" />
    </form>
    
    <div id="results">
        <h1 id= "Artist"> {{artist}} </h1>
        <h4 id= "track"> {{track}} </h4>
        <p id="url" >{{url}} </p>
        <img src = {{image}} > </img>
       <!-- <button id="preview" href= {{preview}} > {{preview}} </button> -->

</div>












	</div>
	</div>




{% endblock %}