
{% extends "base.html" %}
{% block content %}

<button type="button" onclick="location.href='http://localhost:3000/timeline/form'" class="btn btn-lg btn-info">Back to Form</button>                   

<div class="container">

    <h1>Search for an Track-Spotify</h1>
    <p>Type an track name or artist name and click on "Search". Then, type that song id into the form above.</p>
   <!--
        <input type="text" id="query" value="" class="form-control" placeholder="Type an Track Name"/>
        <button id="search" class="btn btn-primary"  > Search </button>
   
   -->

     <form id="search-form" action = {{url_for('search.song_route')}}>
        <input type="text" id="query" name ='query' value="" class="form-control" />
        <input type="submit" id="search" class="btn btn-primary" value="Search" />
    </form>
    
    <div id="results">
        <h1 id= "Artist"> {{artist}} </h1>
        <h4 id= "album"> {{album}} </h4>
        <p>Copy this url into the form on the next</p>
        <p id="url" >{{url}} </p>
        <img src = {{image}} > </img>
       <!-- <button id="preview" href= {{preview}} > {{preview}} </button> -->

        
    </div>


</div>


{% endblock %}